DATABASE_URL="postgresql://postgres:postgres@localhost:5432/finmind_ai?schema=public"
JWT_SECRET="change-me-in-production-32chars!!"
PORT=3333
NODE_ENV="development"
ADMIN_EMAILS=""
SYSTEM_ADMIN_EMAIL="admin@finmind.local"
SYSTEM_ADMIN_PASSWORD="Admin@12345"
EXCLUSIVE_ADMIN_EMAIL="murilo@gmail.com"
